
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans';
}

.heder{
  top: 0;
  left: 0;
  margin: 0%;
  width: 100%;
  height: 80px;
  position: fixed;
  display: flex;
}

    .padre{
      display: grid;
      grid-template-columns: 1fr;
   background-color: rgb(255, 255, 255);
      height: 100vh;
      width: 100%;
    }

    .pi{
        flex-direction: row;
        justify-content: center;
        margin-top: 80px;
    }

    .pa{
      font-size: 20px;
      margin: auto;
    }

    .horizontal{
      margin-top: 0px;
      margin: 0px;
      padding: 0px;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      background-color: rgb(152, 223, 207);
    }



      .horizontal > li > a {
        display: block;
        margin: 10px;
        padding: 10px 10px;
        color: white;
        text-decoration: none;
      color: white;
      }

      .horizontal > li > a:hover{
        color: gold;
      }

    .menuVertical{
      position: absolute;
      display: none;
      list-style: none;
      width: 200px;
      background-color:rgba(0,0,0,.5)
    }

    .horizontal > li:hover .menuVertical{
      display: block;
    }

    .menuVertical li:hover{
      background-color: black;
    }

   .menuVertical li a{
     display: block;
     color: white;
     padding: 15px 15px 15px 20px;
   }

    .padre2{
      display: flex;
      justify-content: center;
      width: 100%;
      height: 100%;
      background-color: blue;
    }

    .hijo2{
      width: 50%;
      height: 50%;
      background-color: red;
      margin-top: 150px;
    }

    

    .SecInfo{
      width: 100%;
      height: 100%;
      background-color: rgb(255, 255, 255);
    }

    .textIn{
      width: 100%;
      height: 200px;
    }

    .contenido1{
      color: rgb(0, 0, 0);
      height: 200px;
      display: flex;
      justify-content: center;
      background-color: rgb(255, 255, 255);
    }

    .contenido3{
      margin-top: 80px;
      font-size: 30px;
      }

   

    .infor{
      display: flex;
      justify-content: flex-start;
     
      
    }

    .inforCompany{
      width: 100%;
      display: flex;
      justify-content: flex-start;
    }

    .inforNumber{
      margin-top: 0px;
      width: 100%;
      display: flex;
      justify-content: flex-start;
    }

    .inforImg{
      width: 100px;
      height: 90px;
      margin: 10px;
    }
    .in{
      display: flex;
      width: 100%;
      margin-top: 20px;
      font-size: 40px;
    }

    .in1{
      display: flex;
      width: 100%;
      margin-top: 40px;
      font-size: 30px;
    }
   












































   .imagenes{
    display: flex;
      flex-direction: row;
      justify-content:space-around;
      margin-top: 250px;
      width: 100%;
  }




  .imagen{
    display: flex;
      width:200px;
      margin-left: 0px;
      border: 2px solid rgb(48, 233, 233);
      height: auto;
      display: flex;
      justify-content: center;

  }

  .imagen2{
    display: flex;
    width:200px;
    height: 400px;
    margin-left: 150px;
    border: 2px solid rgb(48, 233, 233);
    height: auto;
    display: flex;
    justify-content: center;
  }

  

  .nombreImagenes{
    text-align: center;
    margin-left: 0px;
  }


 



  .tecnicservice{
    display: flex;
    width: 100%;
    justify-content: center;
    position: relative;
  }

  .contenboton{
    margin-top:300px;
    
    border-radius: 90%;

  }