    @media(max-width:770px){ 







.padre{
  display: grid;
  grid-template-columns: 1fr ;
  background-color: rgb(252, 253, 253);
  padding-bottom: 10px;
}

.pi{
  flex-direction: row;
  justify-content: center;
  margin-top: 80px;
    
}

.horizontal{
  margin-top: 0px;
  margin: 0px;
  padding: 0px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: black
}

li{
  margin: 20px;
}



.imagenes{
    display: flex;
      flex-direction: column;
      justify-content:space-between;
      margin-left: auto;
      background-color: rgb(255, 255, 255);
      margin: 0;
      margin-top: 100px;

  }

  .imagen{
    width:300px;
   display: flex;
    border: 2px solid rgb(48, 233, 233);
    margin: auto;
    margin-right: 40px;
    justify-content: center;
    position: unset;
    border-radius: 10%;
    box-shadow: 2px 2px rgb(25, 175, 163);
}

.imagen2{
    width: 350px;
    border: 2px solid black;

}

.nombreImagenes{
  margin-left: 0px;
}

.tecnicservice{
    display: flex;
    width: 100%;
    justify-content: center;
    position: relative;
  }

  .contenboton{
    margin-top:100px;
    
    border-radius: 90%;

  }

    }