    @media(max-width:780px){ 







.padre{
  display: grid;
  grid-template-columns: 1fr ;
  background-color: rgb(252, 253, 253);
  padding-bottom: 10px;
  position: fixed;
}

.pi{
  flex-direction: row;
  justify-content: center;
  margin-top: 80px;
    
}

.horizontal{
  margin-top: 0px;
  margin: 0px;
  padding: 0px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgb(152, 223, 207);
}



.horizontal > li > a {
  display: block;
  margin: 10px;
  padding: 10px 10px;
  color: white;
  text-decoration: none;
color: white;
}

.horizontal > li > a:hover{
  color: gold;
}

.menuVertical{
position: absolute;
display: none;
list-style: none;
width: 200px;
background-color:rgba(0,0,0,.5)
}

.horizontal > li:hover .menuVertical{
display: block;
}

.menuVertical li:hover{
background-color: black;
}

.menuVertical li a{
display: block;
color: white;
padding: 15px 15px 15px 20px;
}

.padre2{
display: flex;
justify-content: center;
width: 100%;
height: 100%;
background-color: blue;
}

.hijo2{
width: 500px;
height: 300px;
margin-top: 150px;


background-color: transparent;
}

.contenido{
width: 300px;
height: 300px;
margin-right: 0px;
margin-left: 65px;
background-color: green;
}



.infor{
display: flex;
justify-content: flex-start;


}

.inforNumber{
margin-top: 220px;
width: 100%;
display: flex;
justify-content: flex-start;
}

.inforImg{
width: 50px;
height: 40px;
margin: 10px;
}
.in{
display: flex;
margin-top: 20px;
font-size: 20px;
}































































.imagenes{
    display: flex;
      flex-direction: column;
      justify-content:space-between;
      margin-left: auto;
      background-color: rgb(255, 255, 255);
      margin: 0;
      margin-top: 100px;

  }

  .imagen{
    width:300px;
   display: flex;
    border: 2px solid rgb(48, 233, 233);
    margin: auto;
    margin-right: 40px;
    justify-content: center;
    position: unset;
    border-radius: 10%;
    box-shadow: 2px 2px rgb(25, 175, 163);
}

.imagen2{
    width: 350px;
    border: 2px solid black;

}

.nombreImagenes{
  margin-left: 0px;
}

.tecnicservice{
    display: flex;
    width: 100%;
    justify-content: center;
    position: relative;
  }

  .contenboton{
    margin-top:100px;
    
    border-radius: 90%;

  }

    }