    @media(max-width:780px){ 


      .heder{
        top: 0;
        left: 0;
        margin: 0%;
        width: 100%;
        height: 80px;
        position: fixed;
        display: flex;
        color: black;
        display: none;
      }

      .hederPhone{
        top: 0;
        left: 0;
        margin: 0%;
        width: 100%;
        height: 20px;
        position: fixed;
        display: flex;
        color: black;
      }

      .fre{
        height: 25px;
        box-shadow:  1px 0px  2px  rgb(77, 77, 77);

      }

      .titulo{
        font-size: 25px;
      }




.padre{
      display: grid;
      grid-template-columns: 1fr;
      background-color: rgb(255, 255, 255);
      height: 100vh;
      width: 100%;
      position: fixed;
      margin-bottom: 100px;
}

.pi{
  flex-direction: row;
  justify-content: center;
  background-color: transparent;
  margin-top: 25px;
    
}

.pa{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
  margin: 0px;
  margin-bottom: auto;
  padding: 0px;
  width: 100px ;
  background-color: rgb(152, 223, 207);
  border: .1px solid rgb(0, 0, 0);
}

.paImage{
  display: flex;
  justify-content: center;
  margin-left:  20px;
  height: 50px;
  width: 50px;
  padding: 10px;
}

.pi:hover .horizontal{
  display: none;
}

.pa:hover{
  width: 150px;
}


.pa:hover .horizontal{
  display: flex;
 
}


.horizontal{
  margin-top: 0px;
  margin-right: 0px;
  padding: 0px;
  max-width: 100px;
  height: auto;
  display: none;
  justify-content: center;
  flex-direction: column;
  justify-content:space-between;
  background-color: rgb(152, 223, 207);
}



.horizontal > li > a {
  display: block;
  margin: 10px;
  padding: 0px 10px;
  font-size: 15px;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.horizontal > li > a:hover{
  color: gold;
}

.menuVertical{
position: absolute;
display: none;
list-style: none;
color: black;
width: 100%;

}

.horizontal > li:hover .menuVertical{
display: flex;
flex-direction: column;
background-color: rgb(152, 223, 207);
color: blackrgb(255, 255, 255);
width: 100%;
margin-left: 148px;


}

.menuVertical li:hover{
background-color: rgb(138, 255, 226);
}

.menuVertical li{
  font-size: 10px;
  width: 100%;
  color: black;
  border: .1px solid black;

}

.menuVertical li a{

display: block;
color: black;
padding: 15px 15px 15px 20px;
}

.padre2{
display: flex;
position: relative;
bottom: 0;
justify-content: center;
width: 100%;
margin-top: 100;
height: 300px;
padding: 10px 10px;
}

.hijo2{
width: 300px;
height: 250px;
margin-top: 50px;
background-color:transparent;
position: fixed;

}

.SecInfo{
  width: 100%;
  height: 100%;

}

.textIn{
  width: 100%;
  height: 100px;
}

.contenido1{
  color: rgb(0, 0, 0);
  height: 25px;
  display: flex;
  justify-content: center;
}

.contenido3{
  font-size: 30px;
  margin-top: 0px;
  }



.infor{
  display: flex;
  justify-content: flex-start;
  margin-top: 0px;
  margin-bottom: 200px;
}

.inforCompany{
  width: 100%;
  margin-top: 70px;
  display: flex;
  justify-content: flex-start;
}

.inforNumber{
  margin-top: 20px;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.inforImg{
  width: 40px;
  height: 40px;
  margin: 10px;
}
.in{
  display: flex;
  width: 100%;
  margin-top: 20px;
  font-size: 30px;
}

.in1{
  display: flex;
  width: 100%;
  margin-top: 20px;
  font-size: 20px;
}

.footer{
  position: sticky;
  background-color: rgb(201, 201, 201);
  width: 100%;
  height: 300px;
  margin-top: 300px;
  bottom: 0;
}

.footerData{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px 10px;
  width: 100%;
  height: 100%;
}

.footerData p{
  font-size: 20px;
}

.empresasAmigas{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}


























































.imagenes{
    display: flex;
      flex-direction: column;
      justify-content:space-between;
      margin-left: auto;
      background-color: rgb(255, 255, 255);
      margin: 0;
      margin-top: 100px;

  }

  .imagen{
    width:300px;
   display: flex;
    border: 2px solid rgb(48, 233, 233);
    margin: auto;
    margin-right: 40px;
    justify-content: center;
    position: unset;
    border-radius: 10%;
    box-shadow: 2px 2px rgb(25, 175, 163);
}

.imagen2{
    width: 350px;
    border: 2px solid black;

}

.nombreImagenes{
  margin-left: 0px;
}

.tecnicservice{
    display: flex;
    width: 100%;
    justify-content: center;
    position: relative;
  }

  .contenboton{
    margin-top:100px;
    
    border-radius: 90%;

  }

    }